
<div class="hidden">
  
</div>
<!-- Подключение js файлов -->
<!-- build:js js/vendor.js -->
<!-- bower:js -->
<script src="../ready/libs/jquery/dist/jquery.js"></script>
<script src="../ready/libs/slick-carousel/slick/slick.js"></script>
<script src="../ready/libs/fancybox/dist/jquery.fancybox.min.js"></script>
<!-- <script src="../ready/libs/svg4everybody/svg4everybody.js"></script> -->
<!-- <script src="../ready/libs/jquery.maskedinput.min.js"></script> -->
<!-- endbower -->
<!-- endbuild -->
<!-- build:js js/libs.js -->
<!-- endbuild -->
<!-- build:js js/main.js -->
<script src="js/main.js"></script>
<!-- endbuild -->
</body>
</html>
