<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">

	<title>{{ title }}</title>
	<meta name="description" content="">

	<!-- Template Basic Images -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- build:css css/vendor.css -->
	<!-- bower:css -->
	<link rel="stylesheet" href="../ready/libs/normalize-css/normalize.css" />
	<link rel="stylesheet" href="../ready/libs/slick-carousel/slick/slick.css" />
	<link rel="stylesheet" href="../ready/libs/fancybox/dist/jquery.fancybox.min.css" />
	<!-- endbower -->
	<!-- endbuild -->
	<!-- build:css css/libs.css -->
	<!-- endbuild -->
	<!-- build:css css/main.css -->
	<link rel="stylesheet" href="css/main.css">
	<!-- endbuild -->

	<!-- Custom Browsers Color Start -->
	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#000">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#000">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="#000">
	<!-- Яндекс.Браузер -->
	<meta name="viewport" context="ya-title=#000,ya-dock=fade">
	<!-- Custom Browsers Color End -->
</head>
<body>

