
// === Colors 
$black: #000000;
$white: #fff;

// === Link color
$linkcolor: #005d9a;
$linkcolorhov: #10c7ee;

// === Grid Container
$container: 1200px;

$font: 'Roboto';

// === Сетка
// @import "grid.scss";